<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dons-my-suffix-heading" jhiTranslate="cultuelApp.dons.home.createOrEditLabel">Create or edit a Dons</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dons.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dons.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.dons.don" for="field_don">Don</label>
                    <input type="number" class="form-control" name="don" id="field_don"
                        [(ngModel)]="dons.don" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.dons.dateDons" for="field_dateDons">Date Dons</label>
                    <div class="input-group">
                        <input id="field_dateDons" type="text" class="form-control" name="dateDons" ngbDatepicker  #dateDonsDp="ngbDatepicker" [(ngModel)]="dons.dateDons"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDonsDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.dons.donsUser" for="field_donsUser">Dons User</label>
                    <select class="form-control" id="field_donsUser" name="donsUser" [(ngModel)]="dons.donsUserId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
