<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dons">
            <h2><span jhiTranslate="cultuelApp.dons.detail.title">Dons</span> {{dons.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cultuelApp.dons.uuid">Uuid</span></dt>
                <dd>
                    <span>{{dons.uuid}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.dons.don">Don</span></dt>
                <dd>
                    <span>{{dons.don}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.dons.dateDons">Date Dons</span></dt>
                <dd>
                    <span>{{dons.dateDons}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.dons.dons">Dons</span></dt>
                <dd>
                    {{dons.dons?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dons-my-suffix', dons.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
