<!-- <div class="navbar-collapse collapse" [ngSwitch]="isAuthenticated()"> -->
<!-- </div> -->
<br>
<div class="panel-body">
	<div class="form-group" align="center">
		<form action="">
			<label> Votre don:</label> <input type="number" min=0  width="20%"/> 
			<label> Type de don:</label> <select name="don">
				<option value="Géneral">General</option>
				<option value="Zakat">Zakat</option>
				<option value="Action1">Action1</option>
				<option value="Action2">Action2</option>
			</select>
			<br><br>
			<button type="submit" class="btn btn-primary">Payer</button>
		</form>
	</div>

<div class="text-center">
  <h2 *ngIf="paypalLoad">Paypal button is loading (if it's too long, your client id is certainly wrong)</h2>
  <div id="paypal-checkout-btn"></div>
</div>

	
<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <h2 id="page-heading">
        <span jhiTranslate="cultuelApp.dons.home.title">Dons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dons-my-suffix" [routerLink]="['/dons-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cultuelApp.dons.home.createLabel">
            Create new Dons
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dons">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cultuelApp.dons.don">Don</span></th>
            <th><span jhiTranslate="cultuelApp.dons.dateDons">Date Dons</span></th>
            <th><span jhiTranslate="cultuelApp.dons.labelDon">Label Don</span></th>
            <th><span jhiTranslate="cultuelApp.dons.donsUser">Dons User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dons of dons ;trackBy: trackId">
                <td><a [routerLink]="['/dons-my-suffix', dons.id, 'view' ]">{{dons.id}}</a></td>
                <td>{{dons.don}}</td>
                <td>{{dons.dateDons | date:'mediumDate'}}</td>
                <td>{{dons.labelDon}}</td>
                <td>
                    {{dons.donsUserId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dons-my-suffix', dons.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dons-my-suffix', dons.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'dons-my-suffix', { outlets: { popup: dons.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div *jhiHasAnyAuthority="'ROLE_USER'">
	<div class="table-responsive" *ngIf="dons">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span jhiTranslate="cultuelApp.dons.don">Don</span></th>
					<th><span jhiTranslate="cultuelApp.dons.dateDons">Date
							Dons</span></th>
					<th><span jhiTranslate="cultuelApp.dons.labelDon">Label
							Don</span></th>
					<th><span jhiTranslate="cultuelApp.dons.donsUser">Dons
							User</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let dons of dons ;trackBy: trackId">
					<td><a [routerLink]="['/dons-my-suffix', dons.id, 'view' ]">{{dons.id}}</a></td>
					<td>{{dons.don}}</td>
					<td>{{dons.dateDons | date:'mediumDate'}}</td>
					<td>{{dons.labelDon}}</td>
					<td>{{dons.donsUserId}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['/dons-my-suffix', dons.id, 'view' ]"
								class="btn btn-info btn-sm">
								<fa-icon [icon]="'eye'"></fa-icon>
								<span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>			
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

