<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="preche">
            <h2><span jhiTranslate="cultuelApp.preche.detail.title">Preche</span> {{preche.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cultuelApp.preche.title">Title</span></dt>
                <dd>
                    <span>{{preche.title}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.preche.imam">Imam</span></dt>
                <dd>
                    <span>{{preche.imam}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.preche.date">Date</span></dt>
                <dd>
                    <span>{{preche.date}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.preche.link">Link</span></dt>
                <dd>
                    <span>{{preche.link}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/preche', preche.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
