<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
    <h2 id="page-heading">
        <span jhiTranslate="cultuelApp.preche.home.title">Preches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-preche-my-suffix" [routerLink]="['/preche-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cultuelApp.preche.home.createLabel">
            Create new Preche
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="preches">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cultuelApp.preche.title">Title</span></th>
            <th><span jhiTranslate="cultuelApp.preche.imam">Imam</span></th>
            <th><span jhiTranslate="cultuelApp.preche.date">Date</span></th>
            <th><span jhiTranslate="cultuelApp.preche.link">Link</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let preche of preches ;trackBy: trackId">
                <td><a [routerLink]="['/preche-my-suffix', preche.id, 'view' ]">{{preche.id}}</a></td>
                <td>{{preche.title}}</td>
                <td>{{preche.imam}}</td>
                <td>{{preche.date | date:'mediumDate'}}</td>
                <td>{{preche.link}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/preche-my-suffix', preche.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/preche-my-suffix', preche.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'preche-my-suffix', { outlets: { popup: preche.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div *jhiHasAnyAuthority="'ROLE_USER'">
	<table class="table table-striped">
		<tr *ngFor="let preche of preches ;trackBy: trackId">
				<h2><b>{{preche.title}}</b></h2>
				<h3>{{preche.imam}}</h3>
				<h4>{{preche.date | date:'mediumDate'}}</h4>
<!-- 				<iframe width="420" height="315" src="{{preche.link}}"> </iframe> -->
				<iframe width="420" height="315" src="https://www.youtube.com/embed/-sYC6ulzM3k"> </iframe>
				
		</tr>
	</table>
</div>
