<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-prayer-my-suffix-heading" jhiTranslate="cultuelApp.prayer.home.createOrEditLabel">Create or edit a Prayer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!prayer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="prayer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.sobh" for="field_sobh">Sobh</label>
                    <input type="text" class="form-control" name="sobh" id="field_sobh"
                        [(ngModel)]="prayer.sobh" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.chorouq" for="field_chorouq">Chorouq</label>
                    <input type="text" class="form-control" name="chorouq" id="field_chorouq"
                        [(ngModel)]="prayer.chorouq" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.dohr" for="field_dohr">Dohr</label>
                    <input type="text" class="form-control" name="dohr" id="field_dohr"
                        [(ngModel)]="prayer.dohr" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.asr" for="field_asr">Asr</label>
                    <input type="text" class="form-control" name="asr" id="field_asr"
                        [(ngModel)]="prayer.asr" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.maghreb" for="field_maghreb">Maghreb</label>
                    <input type="text" class="form-control" name="maghreb" id="field_maghreb"
                        [(ngModel)]="prayer.maghreb" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.icha" for="field_icha">Icha</label>
                    <input type="text" class="form-control" name="icha" id="field_icha"
                        [(ngModel)]="prayer.icha" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="prayer.location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === prayer.location?.id ? prayer.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.method" for="field_method">Method</label>
                    <select class="form-control" id="field_method" name="method" [(ngModel)]="prayer.method">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="methodsOption.id === prayer.method?.id ? prayer.method : methodsOption" *ngFor="let methodsOption of methods; trackBy: trackMethodsById">{{methodsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cultuelApp.prayer.degree" for="field_degree">Degree</label>
                    <select class="form-control" id="field_degree" name="degree" [(ngModel)]="prayer.degree">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="degreesOption.id === prayer.degree?.id ? prayer.degree : degreesOption" *ngFor="let degreesOption of degrees; trackBy: trackDegreesById">{{degreesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
