<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prayer">
            <h2><span jhiTranslate="cultuelApp.prayer.detail.title">Prayer</span> {{prayer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cultuelApp.prayer.sobh">Sobh</span></dt>
                <dd>
                    <span>{{prayer.sobh}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.chorouq">Chorouq</span></dt>
                <dd>
                    <span>{{prayer.chorouq}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.dohr">Dohr</span></dt>
                <dd>
                    <span>{{prayer.dohr}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.asr">Asr</span></dt>
                <dd>
                    <span>{{prayer.asr}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.maghreb">Maghreb</span></dt>
                <dd>
                    <span>{{prayer.maghreb}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.icha">Icha</span></dt>
                <dd>
                    <span>{{prayer.icha}}</span>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.location">Location</span></dt>
                <dd>
                    <div *ngIf="prayer.location">
                        <a [routerLink]="['/location-my-suffix', prayer.location?.id, 'view']">{{prayer.location?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.method">Method</span></dt>
                <dd>
                    <div *ngIf="prayer.method">
                        <a [routerLink]="['/methods-my-suffix', prayer.method?.id, 'view']">{{prayer.method?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cultuelApp.prayer.degree">Degree</span></dt>
                <dd>
                    <div *ngIf="prayer.degree">
                        <a [routerLink]="['/degrees-my-suffix', prayer.degree?.id, 'view']">{{prayer.degree?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prayer-my-suffix', prayer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
